/*Aqui vamos a modificar la parte superior de mi pag web*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Cambia la letra de la parte superior de la pag web*/

body{
    font-family: 'open sans';
}

.map{
    margin: 20px;
    margin-left: 100px;
}

/* Esto es para agregar un espacio entre secciones*/
.contenedor{
    padding: 60px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.Titulo{
    font-size: 50px;
    text-align: center;
    height: 100px;
}
.titulo{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}


/* Header */

header{
    width: 100%;
    height: 600px;
    background: #f12711;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(41, 92%, 53%, 0.548), hsla(6, 89%, 51%, 0.39)), url(img/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(41, 92%, 53%, 0.548), hsla(6, 89%, 51%, 0.39)), url(img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

nav{
    text-align: right;
    padding: 60px 50px 0 0;
}

nav > a{
    color: #ffff;
    font-weight: 300;           /*Vuelve la letra mas ligera*/
    text-decoration: none;      /*Le quita el subrayado*/
    margin-right: 10px;         /*me separa cada palabra una de otra*/
}

nav > a:hover{
    text-decoration: underline;      /*hace que cuando selecciones una letra, esta tenga subrayado*/
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color: #fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}


    /* Haces que los numeros tengan una bolita*/
    .contenido-textos h3{
        margin-bottom: 15px;
    }
    .contenido-textos h3 span{
        background: #4d0686;
        color: #fff;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        width: 30px;
        height: 30px;
        padding: 2px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
        margin-right: 5px;
    }

    .contenido-textos p{
        padding: 0px 0px 30px 15px;
        font-weight: 300;
        text-align: justify;
    }

    /*Galeria*/
    .portafolio{
        background: #f2f2f2;
    }
    
    .galeria-port{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .imagen-port img{
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
        cursor: pointer;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    }
    .imagen-port a{
        display: block;
    }
    
    
    /* footer */
    
    footer{
        background: #414141;
        padding: 60px 0 30px 0;
        margin: auto;
        overflow: hidden;
    }
    
    .contenedor-footer{
        display: flex;
        width: 90%;
        justify-content: space-evenly;
        margin: auto;
        padding-bottom: 50px;
        border-bottom: 1px solid #ccc;
    }
    
    .content-foo{
        text-align: center;
    }
    
    .content-foo h4{
        color: #fff;
        border-bottom: 3px solid #af20d3;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }
    
    .content-foo p{
        color: #ccc;
    }
    
    .titulo-final{
        text-align: center;
        font-size: 24px;
        margin: 20px 0 0 0;
        color: #9e9797;
    }


    
    @media screen and (max-width:900px){
        header{
            background-position: center;
        }
    
        .contenedor-sobre-nosotros{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        .sobre-nosotros .contenido-textos{
            width: 90%;
        }
    
        .imagen-about-us{
            width: 90%;
        }
    
        /* Galeria */
    
        .imagen-port{
            width: 44%;
        }
    
        /* Clientes */
    
        .cards{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        .cards .card{
            width: 900%;
        }
    
        .cards .card:first-child{
            margin-bottom: 30px;
        }
    }
    
    @media screen and (max-width:500px){
        nav{
            text-align: center;
            padding: 30px 0 0 0;
        }
    
        nav > a{
            margin-right: 5px;
        }
    
        .textos-header h1{
            font-size: 35px;
        }
    
        .textos-header h2{
            font-size: 20px;
        }
    
        /* ABOUT US */
    
        .imagen-about-us{
            margin-bottom: 60px;
            width: 99%;
        }
    
        .sobre-nosotros .contenido-textos{
            width: 95%;
        }
    
        /* Galeria */
    
        .imagen-port{
            width: 95%;
        }
    
        /* Clients */
    
        .cards .card{
            height: 450px;
            /*display: flex;*/
            /*flex-direction: column;*/
            align-items: center;
        }
    
        .cards .card img{
            width: 90px;
            height: 90px;
        }
    
        /* Footer */
    
        .contenedor-footer{
            flex-direction: column;
            border: none;
        }
    
        .content-foo{
            margin-bottom: 20px;
            text-align: center;
        }
    
        .content-foo h4{
            border: none;
        }
    
        .content-foo p{
            color: #ccc;
            border-bottom: 1px solid #f2f2f2;
            padding-bottom: 20px;
        }
    
        .titulo-final {
            font-size: 20px;
            color: #fff;
        }

    }
